<form (ngSubmit)=onSubmit(x) #x="ngForm">
  <table>
  <tr>
  <td>Name</td>
  <td><input type="text" name="name" placeholder="username"class="form-control" ngModel/></td>
  </tr>
  <tr>
  <td>Email</td>
  <td><input type="email" name="email" placeholder="email" class="form-control" ngModel/></td>
  </tr>
  <tr>
  <td>Message</td>
  <td><input type="text" name="text" placeholder="message" class="form-control" ngModel/></td>
  </tr>

  <tr>
  <td></td>
  <td><button class="btn btn-warning">submit   </button> </td>
  </tr>
  </table>
</form>